Repository Rotwood-Vale/Ratwood-2.0, pull requests merged in 2025-10, with the labels that each got.

#106 New Wings, Updated Old Wings, and Wing Spreading!
  code/modules/client/customizer/customizers/organ/wings.dm
  code/modules/mob/dead/new_player/sprite_accessory/wings.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/sprite_accessory/wings/wings_huge.dmi
Labels: Sprite, Code, Test Merged

#107 Highwaymen equipment pass
  code/modules/mob/living/carbon/human/npc/bog_deserters.dm
  code/modules/mob/living/carbon/human/npc/highwayman.dm
Labels: Code, Test Merged

#113 Ports the other game's vendor changes
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Code, Test Merged

#111 Mercenary Hugboxing
  code/datums/combat_music.dm
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/unarmed.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/freifechter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/underdweller.dm
  code/modules/roguetown/roguemachine/mail.dm
  icons/roguetown/weapons/32.dmi
  modular_azurepeak/code/game/objects/items/mercmedals.dm
  modular_azurepeak/icons/clothing/mercmedals.dmi
  sound/music/combat_league.ogg
Labels: Sprite, Sound, Code, Balance, Test Merged

#84 Brings Back Lobby Chat
  code/_onclick/drag_drop.dm
  code/controllers/subsystem/migrants.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/living/login.dm
  modular_hearthstone/code/interface/LOOC.dm
Labels: Code, Test Merged

#71 Ports Miacraft
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/skills.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/modules/crafting/recipe_books/recipe_books_list.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
  code/modules/roguetown/roguecrafting/carpentry.dm
  code/modules/roguetown/roguecrafting/ceramics.dm
  code/modules/roguetown/roguecrafting/cooking.dm
  code/modules/roguetown/roguecrafting/crafting/ammo_and_ranged.dm
  code/modules/roguetown/roguecrafting/crafting/clothes.dm
  code/modules/roguetown/roguecrafting/crafting/weapons_tools.dm
  code/modules/roguetown/roguecrafting/engineering.dm
  code/modules/roguetown/roguecrafting/farming.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/leather/leather.dm
  code/modules/roguetown/roguecrafting/leather/leather_armor_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_container_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_footwear_recipes.dm
  code/modules/roguetown/roguecrafting/leather/leather_unique_recipes.dm
  code/modules/roguetown/roguecrafting/leather/reinforcement.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguecrafting/weaving.dm
  roguetown.dme
  tgui/packages/tgui/interfaces/MiaCraft.js
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
  tgui/packages/tgui/routes.tsx
Labels: Code, Test Merged
