Repository Rotwood-Vale/Ratwood-2.0, pull requests merged in 2025-09, with the labels that each got.

#22 Half-Kin Accents
  code/modules/mob/living/carbon/human/species_types/furry/demihuman.dm
Labels: Code

#29 Initial Unarmed Pass
  code/datums/status_effects/rogue/debuff.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/rogueweapons/melee/unarmed.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/mob/living/carbon/human/npc/zizoconstruct.dm
  roguetown.dme
Labels: Code, Balance, Test Merged

#60 Funny Book Begone
  code/game/objects/items/rogueitems/books.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/blackoak.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/blackoak.dm
Labels: Code, Balance

#40 Adds TRAIT_PONYGIRL_RIDEABLE as a virtue
  code/__DEFINES/traits.dm
  modular_azurepeak/virtues/utility.dm
Labels: Code, Test Merged

#55 manabloom alchemy
  code/game/objects/items/rogueitems/magic/magic_resources.dm
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipes.dm
  code/modules/roguetown/roguecrafting/alchemy/ingredients.dm
Labels: Code, Test Merged

#58 Funny Prayer Logging & Peel Wording
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/mob/living/emote.dm
Labels: Code, Test Merged

#83 Fix for ooc_extra
  code/modules/mob/living/carbon/human/human_topic.dm
Labels: Code

#70 Conjure primordial
  code/datums/ai/controllers/air_primordial.dm
  code/datums/ai/controllers/flame_primordial.dm
  code/datums/ai/controllers/water_primordial.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/primordial.dm
  code/modules/spells/spell_types/wizard/conjure/conjure_primordial.dm
  code/modules/spells/spell_types/wizard/spell_list.dm
  icons/mob/actions/roguespells.dmi
  icons/roguetown/mob/monster/primordial.dmi
  modular_azurepeak/code/modules/spells/minion_order.dm
  roguetown.dme
Labels: Sprite, Code, Test Merged

#81 Min player for dreamwalker
  code/modules/events/antagonist/solo/dreamwalker.dm
Labels: Code, Test Merged

#78 Zizo cross everywhere
  code/modules/roguetown/roguecrafting/structure.dm
Labels: Code, Test Merged

#75 Inherent Traits, Continued
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/skills/_skill.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/game/objects/items/rogueitems/needle.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/homesteader.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/mob/living/carbon/human/species_types/furry/dracon.dm
  code/modules/mob/living/carbon/human/species_types/furry/lizardfolk.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/human/humen.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/tiefling.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  roguetown.dme
Labels: Code, Balance, Test Merged

#53 Adds Honey to Stockpile
  code/modules/roguetown/roguestock/stockpile_food.dm
Labels: Code, Test Merged

#95 Jump Resist Begone
  code/game/objects/items/rogueweapons/intents/mmb/jump.dm
Labels: Code
